<!DOCTYPE html>
<html>
  <head>
    <title>Kickball Teams</title>
    <link rel="stylesheet">
  </head>

  <body>
    <h1>Kickball Teams</h1>
      <ul>
        <li> <% teams[0] do |team| %> </li>
          <li> <%= team.roster %> </li>
        <li> <% end %> </li>
      </ul>

  </body>
</html>
